h1.submit-title 编辑作业
h3 {{ requirement.course.name }}
h3 作业要求
h4 {{ requirement.name }}
p {{ requirement.content }}

hr
h4 提交内容

div.alert(ng-show="success", class="alert-success", role="alert")
    p 提交成功！

form(class='form-submit', ng-submit='editHomework()')
  .form-group
    textarea.form-control(name='content' ng-model="homework.content")

  .form-group
    button.btn.btn-primary(type='submit') 提交