h1.submit-title 查看作业
.alert(class="alert-warning", role="alert")
  p 本次作业已经截止，你提交的版本如下

div(ng-show="homework")
  p {{ homework.content }}

  div(ng-show="homework.grade")
    p 分数： {{ homework.grade }}
  div(ng-hide="homework.grade")
    p 尚未打分

div(ng-hide="homework")
  p 你没有提交本次作业