extends homework-layout

block main
  each course in courses
    .course
      h3=course.name

    .requirement
      each requirement in course.requirements
        h4=requirement.name
        p=requirement.content

        if user.isTeacher
          each homework in requirement.homeworks
            dl.homework
              dt.homework-student homework.student.name
              dd.homework-link
                a.btn.btn-info(href="/grade/"+homework._id) 批改
        else
          if requirement.homeworks.length === 0
            p.homework
              a.btn.btn-info(href="/submit/new/?requirement="+requirement._id) 提交
          else
            each homework in requirement.homeworks
              p.homework
                a.btn.btn-info(href="/submit/"+homework._id) 修改
