extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="/home") My Homework
      
      div.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.navbar-text
            =user.lastName + user.firstName
          li
            button.btn.btn-default.navbar-btn(type="button") 登出

  div.container-fluid
    div.row
      div.col-sm-8.col-md-8.col-md-offset-2
        block main