html, body {
    font-family: sans-serif;
}

/* Simple reset */

* {
    padding: 0;
    margin: 0;
}

#at-plus-container li {
    list-style-type: none;
}

/* the memu */

#at-plus-container {
    width: 2rem;

    position: absolute;
    bottom: 0;
    left: 50%;
}

#bottom-positioner {
    margin: auto auto 4rem;
}

/* button */

#button {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;

    position: relative;

    background: rgba(0, 0, 0, 0.4) url(assets/images/atplus_white.png) center no-repeat;
    color: white;

    overflow: visible;
    transition: all 0.5s ease-in-out;
}

#at-plus-container:hover #button {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    background: rgba(48,63,159,1) url(assets/images/atplus_green.png) center no-repeat;
    color: #079E6E;

    overflow: visible;
    transition: all 0.5s ease-in-out;
}

#control-ring-container,
#info-bar {
    position: absolute;
    text-align: center;
}

#info-bar {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;

    top: 2rem;
    left: 2rem;

    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#at-plus-container:hover #info-bar {
    width: 8rem;
    height: 8rem;

    top: -9rem;
    left: -1.5rem;

    border-radius: 100%;

    background-color: #666;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

#info-bar li {
    margin-top: 0.4rem;
}

#info-bar li img {
    vertical-align: middle;
    margin-right: 0.3rem;
}

#info-bar .mine {
    display: inline-block;
}

#info-bar .page {
    color: white;
    text-align:
}

#info-bar .page.comment {
    font-size: 2rem;
}
