extends homework-layout

block style
  link(rel='stylesheet', href='/asset/css/homework.css')

block content
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        if user.isTeacher
          a.navbar-brand(ui-sref="home-teacher") My Homework
        else
          a.navbar-brand(ui-sref="home-student") My Homework

      div.collapse.navbar-collapse
        if user.isTeacher
          ul.nav.nav-pills.navbar-nav.navbar-left
            li(role="presentation")
              a(ui-sref="addRequirement") 发布新作业

        .navbar-nav.navbar-right
          p.navbar-text=user.name
          a.btn.btn-default.navbar-btn(type="button", href="/signout") 登出

  .container-fluid
    .row
      .col-sm-8.col-md-8.col-md-offset-2
        div(ui-view)

block script
  script(src="/asset/js/lib/angular.min.js")
  script(src="/asset/js/lib/lodash.min.js")
  script(src="/asset/js/lib/restangular.min.js")
  script(src="/asset/js/lib/angular-ui-router.min.js")

  script(src="/app/app.js")
  script(src="/app/common/resources.js")
  script(src="/app/home/HomeCtrl.js")
  script(src="/app/homework/HomeworkCtrl.js")
  script(src="/app/requirement/RequirementCtrl.js")