body {
  color: #666666;
}
#main {
  /*position: relative;*/
  background-color: white;
}
.courses, .requirements {
    padding: 0;
    list-style-type: none;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}
.navbar {
  margin-bottom: 10px;
}

.navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px;
}
#spinner {
  height: 300px;
}
.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}
.spinner-container {
  position: relative;
  height: 100px;
}
.jumbotron {
  text-align: center;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 100;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.errors {
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}